<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Dodaj szablon ogłoszeń</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Dodaj szablon ogłoszeń</h1>

    <form action="#" th:action="@{/processTemplate}" method="post">

        <table border="1" style="width:300px">
            <div th:text="${template.type.name}"/>
            <tr th:each="field : ${template.type.fields}">
                <td th:text="${field}"/>
                <td>
                    <input type="text" th:field="*{template.type.field}"/>
                </td>
            </tr>
        </table>

    </form>
</div>

</body>
</html>