<!DOCTYPE html>
<html lang="pl-pl">
<head>
    <meta charset="UTF-8"/>
    <title>Nowy Typ - YAPA</title>
</head>
<body>
<form action="#" th:action="@{/addType}" th:object="${adType}" method="post">
    Nazwa typu:
    <input type="text" th:field="*{name}"/>
    Pola typu:
    <table>
        <thead>
        <th>
            <button type="submit" name="addField">Dodaj pole</button>
        </th>
        </thead>
        <tr th:each="row,rowStat : ${adType.fields}">
            <td th:text="${rowStat.count}">1</td>
            <td>
                <input type="text" th:field="*{fields[__${rowStat.index}__]}"/>
            </td>
            <td>
                <button type="submit" name="removeField"
                        th:value="${rowStat.index}">Usuń pole
                </button>
            </td>
        </tr>
    </table>
    <button type="submit" name="submitType">Dodaj</button>
</form>
</body>
</html>