<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Dodaj zadanie wyszukiwania</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Dodaj zadanie wyszukiwania</h1>

    <form action="#" th:action="@{/processJob}" th:object="${container}" method="post">
        <input type="text" th:text="Nazwa" th:field="${container.name}"/><br/>
        <input type="text" th:text="URL" th:field="${container.url}"/><br/>
        <input type="hidden" th:field="${{container.template}}"/>
        <button type="submit">Dodaj</button>
    </form>

</div>

</body>
</html>
