<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>dodaj taska</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Dodaj taska</h1>

    <!--<p th:text="${job.template.type.name}"/>-->

    <!--<p>-->
    <!--<ul>-->
        <!--<li th:each="field : ${job.template.paths}">-->
            <!--<div th:text="${field.key} + ': ' +  ${field.value}"/>-->
        <!--</li>-->
    <!--</ul>-->
    <!--</p>-->

    <form action="#" th:action="@{/processJob}" th:object="${container}" method="post">
        <input type="text" th:text="Nazwa" th:field="${container.name}"><br/>
        <input type="text" th:text="URL" th:field="${container.url}"/><br/>
        <input type="hidden" th:field="${{container.template}}"/>
        <button type="submit">Dodaj</button>
    </form>

</div>

</body>
</html>
