<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Strona główna</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Witaj w YAPA</h1>

    <br/>

    <div class="row">
        <form action="#" th:action="@{/smartSearch}" method="post" class="form-inline" role="form">
            <div class="form-group col-md-4 col-md-offset-4">
                <input type="text" th:name="query" class="form-control" placeholder="Wyszukaj ogłoszenie"/>
                <button type="submit" class="btn btn-default">Szukaj</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
