<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Zadania monitorowania</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Zadania monitorowania</h1>

    <table class="table">
        <tr th:each="job : ${jobs}">
            <td>
                <div th:text="${job}"/>
            </td>
            <td>
                <a th:href="'/jobs/' + ${job} + '/run/'" class="btn btn-danger" role="button">Run</a>
            </td>
        </tr>
    </table>

</div>

</body>
</html>
