<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Zadania monitorowania</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Zadania monitorowania</h1>

    <br/>

    <div class="container">
        <input type="button" onclick="location.href='/selectTemplate'" value="Dodaj nowe zadanie"
               class="btn btn-primary"/>
    </div>

    <br/>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Stan</th>
                <th>Uruchom</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs.keySet()}">
                <td>
                    <span th:text="${job.name}">Przykładowe zadanie</span>
                </td>
                <td>
                    <span th:object="${jobs.get(job)}">
                        <span th:switch="*{running}">
                            <span th:case="true">Uruchomione</span>
                            <span th:case="false">
                                <span th:switch="*{exitCode}">
                                    <span th:case="0">OK</span>
                                    <span th:case="*" th:text="'Niepowodzenie, kod błędu: ' + *{exitCode}">Zakończone niepowodzeniem</span>
                                </span>
                            </span>
                        </span>
                    </span>
                </td>
                <td>
                    <a th:unless="${jobs.get(job).running}" href="#" th:href="'/jobs/' + ${job.name} + '/run/'"
                       class="btn btn-success enable-tooltip" role="button" data-toggle="tooltip"
                       title="Uruchom jednorazowo">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
