<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Typy ogłoszeń</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Typy ogłoszeń</h1>

    <br/>

    <div class="container">
        <input type="button" onclick="location.href='/addType'" value="Dodaj nowy typ" class="btn btn-primary"/>
    </div>

    <br/>

    <div class="container">
        <ul class="list-group col-sm-6">
            <li class="list-group-item" th:each="type,rowStat : ${types}">
                <h4 class="col-sm-10 list-group-item-heading" th:text="${type.name}" />
                <a th:href="'/types/' + ${type.name} + '/remove/'" class="col-sm-2 btn btn-danger" role="button">Usuń typ</a>
                <table class="list-group-item-text table table-condensed">
                    <tr th:each="field : ${type.fields}">
                        <td th:text="${field}"/>
                    </tr>
                </table>
            </li>
        </ul>
    </div>


</div>

</body>
</html>
