<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Szablony ogłoszeń</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Szablony ogłoszeń</h1>

    <input type="button" onclick="location.href='/showSelect'" value="Dodaj nowy szablon"/>

    <ul>
        <li th:each="template : ${templates}">
        <p th:text="${template.type.name}"/>
        <p>
            <ul>
                <li th:each="field : ${template.paths}">
                    <div th:text="${field.key} + ': ' +  ${field.value}"/>
                </li>
            </ul>
        </p>
        </li>
    </ul>

</div>

</body>
</html>
