<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Ogłoszenia</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Wyniki wyszukiwania</h1>

    <table>
        <ul th:each="snapshot, iterStat : ${snapshots}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" th:href="'#collapse' + ${iterStat.index}" th:attr="data-target='#collapse' + ${iterStat.index}">
                        <div th:text="'Snapshot ' + ${snapshot.stamp.jobName} + ' ' + ${snapshot.stamp.datetime.toString(datetimeFormatter)}"/>
                    </a>
                </div>
                <div th:id="'collapse' + ${iterStat.index}" class="panel-collapse collapse">
                    <div class="panel-body" th:each="ad : ${snapshot.ads}">
                        <dl class="dl-horizontal">
                            <div th:each="field : ${ad.fieldValues}">
                                <dt th:text="${field.key}"/>
                                <dd th:text="${field.value}" class="text-justify"/>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

        </ul>
    </table>

</div>

</body>
</html>
