<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Szablony ogłoszeń</title>
</head>
<body>

<div layout:fragment="content">

    <h1>Szablony ogłoszeń</h1>

    <br/>

    <div class="container">
        <input type="button" onclick="location.href='/showSelect'" value="Dodaj nowy szablon" class="btn btn-primary"/>
    </div>

    <br/>

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item" th:each="template : ${templates}">
                <h4 class="list-group-item-heading" th:text="${template.type.name}" />
                <table class="list-group-item-text table table-condensed">
                    <tr th:each="field : ${template.paths}">
                        <td th:text="${field.key}"/>
                        <td>
                            <code th:text="${field.value}"/>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
