<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Dodaj zadanie monitorowania</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Dodaj zadanie monitorowania</h1>

    <div class="container">
        <form action="#" th:action="@{/selectTemplate}" th:object="${monitoringJob}" method="post" class="form-inline">

            <select th:field="*{{template}}" class="form-control">
                <option th:each="template : ${templates}"
                        th:value="${{template}}"
                        th:text="${{template.type}}">Wireframe
                </option>
            </select>
            <!--Nazwa typu szablonu:-->
            <!--<input type="text" th:field="*{type}"/>-->
            <button type="submit" name="submitTemplate" class="btn btn-default">Wybierz</button>

        </form>
    </div>
</div>
</body>
</html>