<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Dodaj szablon ogłoszeń</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Dodaj szablon ogłoszeń</h1>

    <form action="#" th:action="@{/processSelect}" th:object="${template}" method="post">

        <select th:field="*{type}">
            <option th:each="type : ${types}"
                    th:value="${type.name}"
                    th:text="${type.name}">Wireframe
            </option>
        </select>
        <button type="submit">Wybierz</button>

    </form>
</div>
</body>
</html>