<!DOCTYPE html>
<html layout:decorator="layout">
<head>
    <title>Ogłoszenia</title>
</head>
<body>

<div layout:fragment="content">

    <h1>
        Wyniki wyszukiwania dla
        <code th:text="${kwery}" />
    </h1>

    <br/>

    <div th:if="${ads.empty}">
        Nic nie znaleziono
    </div>

    <ul class="list-group">
        <li class="list-group-item" th:each="ad : ${ads}">
            <a href="SelectAdTypeForSearch.html" th:href="${ad.url}" th:text="${ad.url}">view</a>
            <dl class="dl-horizontal">
                <div th:each="field : ${ad.fieldValues}">
                    <dt th:text="${field.key}"/>
                    <dd th:text="${field.value}" class="text-justify"/>
                </div>
            </dl>
        </li>
    </ul>

</div>

</body>
</html>
