<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:property-placeholder location="classpath*:mongodb.properties"/>

    <bean id="adsDao" class="pl.edu.agh.yapa.persistence.AdsDaoImpl">
        <constructor-arg index="0" ref="db" />
    </bean>

    <bean id="db" class="com.mongodb.DB" factory-bean="mongoClient" factory-method="getDB">
        <constructor-arg type="java.lang.String" value="${mongodb.database}"/>
    </bean>

    <bean id="mongoClient" class="com.mongodb.MongoClient">
        <constructor-arg index="0" type="java.lang.String" value="${mongodb.hostname}"/>
        <constructor-arg index="1" type="int" value="${mongodb.port}"/>
    </bean>
</beans>